{% extends 'customer/masterpage.html' %}

{% block title %}
ABOUT US
{% endblock %}

{% block header %}
<!-- Add styles to individual pages -->
{% endblock %}

{% block content %}

<h2>ABOUT US </h2>

<p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque quam dicta ut facere provident aspernatur
    architecto iste? Maxime eveniet, distinctio modi aspernatur delectus corrupti voluptate quod provident ex eligendi
    suscipit magnam? Non, dicta repellat voluptate totam magni deserunt in reprehenderit harum, ut, est dolor? Qui
    aperiam, quisquam error commodi, cumque fuga, ut quidem similique veritatis soluta incidunt et. Magnam, velit
    voluptatum. Nisi, aperiam provident assumenda libero quas ut beatae, modi maiores voluptatibus eum mollitia ab
    cumque eaque sed sapiente nam facilis ducimus adipisci neque accusantium hic incidunt illum. Esse blanditiis ad
    explicabo? Quaerat labore deserunt vel distinctio laboriosam, minima beatae!
</p>

{% endblock %}